#block-service-notice-service-notice-nyct {
	margin-top:10px;
	height: 150px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #B4B4B4;
    border-radius: 5px 5px 5px 5px;
}

#block-service-notice-service-notice-lirr {
	margin-top:10px;
	height: 150px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #B4B4B4;
    border-radius: 5px 5px 5px 5px;
}

#block-service-notice-service-notice-mnr {
	margin-top:10px;
	height: 150px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #B4B4B4;
    border-radius: 5px 5px 5px 5px;
}

#block-service-notice-service-notice-bandt {
	margin-top:10px;
	height: 150px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	border: 1px solid #B4B4B4;
    border-radius: 5px 5px 5px 5px;
}

#block-service-notice-service-notice-sir {
	margin-top:10px;
	height: 150px;
	padding: 5px;
	overflow-y: scroll;
	overflow-x: hidden;
	overflow:auto;
	border: 1px solid #B4B4B4;
    border-radius: 5px 5px 5px 5px;
}