/* $Id: $ */
#edit-txtorigininput,
#edit-txtdestinationinput {
	background:none;
	font-size:11px;
	padding:0px;
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	}
.form-item-txtorigininput #autocomplete, 
.form-item-txtdestinationinput #autocomplete {
	padding:3px;
	width:230px !important;
	background-color:#fff;	
	font-size:11px;
	}
.form-item-txtorigininput #autocomplete li,
.form-item-txtdestinationinput #autocomplete li {
	padding:1px;
}
.container-inline-date .date-padding {
    display:inline-block;
    padding: 2px;
}
label[for=edit-tp-date-datepicker-popup-0],
label[for=edit-tp-date-timeEntry-popup-1] {
	display:none;
	}
	
label[for=edit-tp-arrv-dep-1],
label[for=edit-tp-arrv-dep-0],
label[for=edit-tp-accessable] {
	float:left;
	padding-right:2px;
	}	
	
#edit-tp-arrv-dep > .form-item-tp-arrv-dep	{
	float:left;
	}
#edit-tp-arrv-dep-1 {
	margin-right:10px;
}	
	
#edit-tp-date-timeEntry-popup-1{
	margin-right:0;
	font-size:12px;
	height: 19px;
	width:70px;
}
#edit-tp-date-datepicker-popup-0 {
	font-size:12px;
	height: 19px;
	width:70px
	}
.form-item .form-item-tp-date-time {
	margin-right:0;
	padding-left:59px;
}
.form-item .form-item-tp-date {
	margin-right:0;
}
.form-item.form-type-date-popup.form-item-tp-date {
	margin:0;
	}
.form-item.form-type-radio.form-item-tp-arrv-dep {
	margin-top:1px;
	}	
.form-item.form-type-radios.form-item-tp-arrv-dep	{
	margin:0;
}
#edit-tp-date .description {
	display:none;
	}
label[for=edit-tp-arrv-dep]	 {
	float:left;
	margin-right:5px;
	}
#edit-tp-use {
	margin-top:15px;
	}
#edit-tp-use .fieldset-wrapper {
	float:left;
	width: 166px;
}	
#edit-tp-use,
#edit-tp-use legend,
#edit-tp-use legend span{
	float:left;	
	
	font-weight:700;
	}
.form-item.form-type-checkbox.form-item-tp-bus,
.form-item.form-type-checkbox.form-item-tp-subway,
.form-item.form-type-checkbox.form-item-tp-rail,
.form-item.form-type-checkbox.form-item-tp-expressbus
{
	float:left;
	margin: 0 0 0 16px;
}
.form-item.form-type-checkbox.form-item-tp-accessable {
	float:left;
	margin: 13px 12px 10px;
	}
#tp_submit {
	float:left;
	margin-bottom:20px;
	margin-top: 10px;
	}
#tp_links {
	clear:both;
    font-size: 12px;
    margin-left: 10px;
}
	}