/* $Id: $ */
#edit-txtorigininput,
#edit-txtdestinationinput {
	font-size:10px;
	padding:0px;
	padding-top:2px;
	padding-bottom:2px;
	width:100%;
	}
.form-item-txtorigininput #autocomplete, 
.form-item-txtdestinationinput #autocomplete {
		
	font-size:10px;
	}